.col {
  
  padding: $spacer;
}
.container{
	margin: 0 auto;
	max-width: 90%;
	position: relative;	
}
.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
  word-break:break-word;
	
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 33.33%;
}

@media (max-width: 767px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }  
  }
}

@media (min-width: 1200px){
	.container{
		width: 1110px; 
		max-width: initial;
	}
}


 

