//colors
$nav-bg-color: #fff;
$nav-link-color: #575656;
$btn-join-us-color: #61C0BD;
$primary-green: $btn-join-us-color;

//fonts
$font-family-open-sans:   'Open Sans', sans-serif;
$font-family-museo:   'Museo Sans', sans-serif;
